* {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0px
}

.card {
    overflow: hidden;
}

img{
    height: 100vh;
}

h4 {
    color: black;
    font-family: 'Original Surfer', cursive;
    width: auto;
    font-size: 30px;
    font-weight: 150px;
    padding: 90px 0px 50px 0px;
}

.title {
    padding-left: 10px;
}

h1 {
    font-size: 60px;
    font-weight: 150;
    color: black;
}

h3 {
    font-size: 25px;
    padding-top: 3px;
    font-weight: lighter;
    font-family: Open Sans Condensed;
}

i {
    padding-left: 5px;
}

em {  
    font-family: Great Vibes;
    font-weight: 900;
    color: black;
    padding-left: 5px;
    letter-spacing: 5px;
}

.insta {
    color: white;
}

.insta:hover {
    color: black;
}

p {
    padding: 60px 0 0 10px;
    font-size: 1.4rem;
    font-weight: lighter;
    font-family: 'Original Surfer', cursive;
    line-height: 1.2;
    color: white;
    width: 45%;
    height: auto;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.card-text  {
    padding-top: 55px;
    font-size: 15px;
    font-family: Open Sans Condensed;
}


footer p {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    font-family: Open Sans Condensed;
    padding: 15px 0px;
}

@media screen and (width: 1024px){
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }

    h4 {
        padding: 20px 0px 35px 0px;
        font-size: 20px;
    }
    p {
        padding: 20px 0px 0px 10px;
        font-size: 1.2rem;
        line-height: 1.1;
    }
    
}

@media screen and (width: 768px) {
    h4 {
        font-size: 20px;
        padding: 35px 30px;
    }
    .card-title {
        font-size: 35px;
    }
    
    p {
        font-size: 19px;
    }
    
}

@media screen and (width: 736px) {
    .card-img-overlay {
        padding: 0px;
    }
    h4 {
        padding: 10px 10px;
        font-size: 15px;
        margin: 0px;
    }

    h1 {
        font-size: 23px;
    }

    h3{
        font-size: 15px;
    }

    p {
        width: 100%;
        padding: 20px 10px;
        font-size: 16px;
        margin-bottom: 0px;
    }

    .card-text {
        padding-top: 0px;
    }

}

@media screen and (width: 414px) {
    h4 {
        padding: 20px 10px;
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }

    h3{
        font-size: 20px;
        margin: 0px;
    }

    p {
    width: 100%;
    padding: 35px 10px;
    font-size: 16px;
    }

    .card-text {
        padding-top: 20px;
    }
}