* {
    margin: 0;
    padding: 0;
}

.card {
    overflow: hidden;
}

img{
    height: 100vh;
}


h4 {
    font-size: 30px;
    font-weight: 150px;
    padding: 50px 0px;
}


.date {
    font-family: 'Original Surfer', cursive;
    color: black;
    text-align: center;
}

.header {
  text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: 150;
    color: black;
}

h3 {
    font-size: 25px;
    padding-top: 3px;
    color: black;
    font-weight: lighter;
    font-family: Open Sans Condensed;
}

i {
    padding-left: 5px;
}

em {
    color: black;
    font-family: Great Vibes;
    padding-left: 5px;
    letter-spacing: 5px;
}

.insta {
    color: white;
}

.insta:hover {
    color: black;
}

p {
    padding: 90px 0 0 50px;
    font-size: 1.4em;
    font-weight: lighter;
    font-family: 'Original Surfer', cursive;
    line-height: 1.2;
    color: white;
    width: 45%;
    height: auto;
}

.card-text  {
    padding-top: 55px;
    font-size: 15px;
    font-family: Open Sans Condensed;
}


footer p {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    font-family: Open Sans Condensed;
    padding: 15px 0px;
}